.label-button{
    width:1.25em;
    padding: 0 0.2em;
}

.label-buttons{
    padding-right:1em;
}

.labeled-like {
    background-color: rgba(0, 128, 0, 0.2);
}

.labeled-dislike {
    background-color: rgba(244, 128, 128, 0.2);
}

.unlabeled {
    background-color: rgba(0,0,0,0);
}

